body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:white;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #navbar{
    margin-top: 20px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
  }
  
  #logo-cont{
    width: 100px;
    margin: 0px;
    
  }
  
  #logo{
    width: 100%;
    object-fit: contain;
  }
  #toggle{
    color: black;
  }
  
  #items{
    margin-left: 0px;
    padding: 0px;
  }
  
  #items a{
    margin-right: 50px;
    color: black;
    font-family: 'Days One', sans-serif;
    text-decoration: none;
    font-size: 20px;
  }


  
  #items a:hover{
    color:green;
  }
  
  /* **************Landing Section******************** */
 
 
  #landing-cont {
  margin-top: 100px;
  margin-left: 50px;
  }


  #landing-cont h1{
    color:rgb(56, 155, 56) ;
    font-size: 2em;
  }

  #landing-cont h2{
    color:black ;
    font-size: 1.5em;
    margin-top:40px ;
  }

#landing-btn {
  margin-top: 50px;
  margin-right: 20px;
  width: 200px;
  font-family: 'Bungee', cursive;
  background-color: black;
}

#landing-btn2{
  margin-top: 20px;
  margin-right: 20px;
  width: 420px;
  font-family: 'Bungee', cursive;
  background-color: #ff9812;
}


#landing-cont2{
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 60px;
}

#landing-btn a{
  text-decoration: none;
  color: white;
  }

#landing-btn2 a{
text-decoration: none;
color: white;
}
  
  /* **************Landing Section******************** */
    
  /* **************Calculator Section******************** */

#cal-cont {
    margin-top: 50px;
    margin-left: 50px;
    }
#cal-cont2 {
      margin-left: 50px;
      }

 #cal-cont h1{
  color:rgb(56, 155, 56) ;
  font-size: 2em;
 }

 #cal-cont2 p{
  color:black ;
  font-size: 1em;
  margin-top:40px ;
}

#form-cont{
  margin-top: 50px;
}
