body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(29, 38, 44);
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  #navbar{
    margin-top: 20px;
  }
  
  #logo-cont{
    width: 100px;
    margin: 0px;
    
  }
  
  #logo{
    width: 100%;
    object-fit: contain;
  }
  #toggle{
    color: black;
  }
  
  #items{
    margin-left: 0px;
    padding: 0px;
  }
  
  #items a{
    margin-right: 50px;
    color: white;
    font-family: 'Days One', sans-serif;
    text-decoration: none;
    font-size: 20px;
  }
  
  #items a:hover{
    color:#FEB557;
  }
  
  /* **************Landing Section******************** */
  #landing-cont {
  margin-top: 100px;
  margin-left: 50px;
  }


  #landing-cont h1{
    color:#FEB557 ;
    font-size: 2em;
  }

  #landing-cont h2{
    color:white ;
    font-size: 1.5em;
    margin-top:40px ;
  }

